.idea/
.vscode/
node_modules/
build/
temp/

tmp/*
!tmp/.gitkeep
*.swp

.eslintcache
.node_repl_history

.env
.env.development.local
.env.test.local
.env.production.local
.env.local

pids
*.pid
*.seed
*.pid.lock
*.log
